html {
  font-family: "Fredoka One", sans-serif;
}

.content {
  border-top: 8px solid #b3fbff;
  border-bottom: 8px solid #b3fbff;
  max-height: 500px;
  background-image: repeating-linear-gradient(-35deg, #d4fdff, #c9fcff, #c9fcff 15px, #b3fbff 10px, #b3fbff 10px);
}

text {
  text-shadow: 1px 2px 1px rgba(0, 0, 0, .3);
  animation: blur 1s linear 1;
  transition: all 3s linear 5s;
}

@keyframes blur {

  0% {
    filter: blur(0);
    filter: opacity(0);
  }

  50% {
    filter: blur(10px);
    filter: opacity(25%);
  }

  100% {
    filter: blur(0);
    filter: opacity(100%);
  }

}

h1 {
  transform: rotate(-9deg);
  transform-origin: left center;
  left: 45px;
  top: 88px;
  color: #990073;

}

p {
  transform: rotate(-5deg);
  transform-origin: left center;
  color: #c09;
  max-width: 19em;
  top: 185px;
  left: 57px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.btn-ghost {
  color: #c09;
  top: 322px;
  left: 57px;
  border: 3px solid #990073;
  border-radius: 5px;
}

.btn-ghost:hover {
  color: #c09;
  background-color: #b3fbff;
  border: 3px solid #990073;
}

.mint-chip {
  top: 225px;
  left: 728px;
  max-width: 140px;
  z-index: 1;
  animation: drop 1s linear 1 forwards;

}

.cone {
  top: 315px;
  left: 735px;
  max-width: 127px;
  z-index: 5;
  animation: drop 1s linear 1 forwards;

}

.chocolate-chip {
  top: 140px;
  left: 735px;
  max-width: 140px;
  z-index: 2;

  animation: drop 1s linear 1 forwards;

}

.vanilla-fudge {
  top: 70px;
  left: 725px;
  max-width: 140px;
  z-index: 3;

  animation: drop 1s linear 1 forwards;
}

.cherry {
  top: 28px;
  left: 740px;
  max-width: 100px;
  z-index: 4;
  animation: drop 1s linear 1 forwards;

}

@keyframes drop {

  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

@media only screen and (min-width: 90em) {

  h1 {
    left: 215px;
  }

  p {
    left: 215px;
  }

  .btn {
    left: 215px;
  }

  .cherry {
    left: 280px;
  }

  .vanilla-fudge {
    left: 945px;
  }

  .chocolate-chip {
    left: 945px;
  }

  .mint-chip {
    left: 948px;
  }

  .cone {
    left: 945px;
  }
}
